@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

.circle1 {
    animation: bounce 0.5s ease-in-out infinite;
}

.circle2 {
    animation: bounce 0.5s ease-in-out infinite;
    animation-delay: 0.2s;
}

.circle3 {
    animation: bounce 0.5s ease-in-out infinite;
    animation-delay: 0.4s;
}